@using ChessViewer.UI.Static

@{
    const int cellSize = 50;
}

<table width="auto">
    @for (int y = 8; y >= 1; y--)
    {
        <tr>
        @for (int x = 1; x <= 8; x++)
        {
            <td id="square-@((char)('a' + x - 1))@y" width="@cellSize" height="@cellSize" style="background-color: @ChessRender.GetSquareColor(x,y)">
                <!--img src="~/Content/Images/BKing.png" /-->
            </td>
        }
        </tr>
    }
</table>