@using ChessViewer.UI.Models
@using ChessViewer.UI.Static

@model HomeViewModel

<ul>
    <li>

        @if (Model.FormMode == HomeFormMode.Edit)
        {
            @Html.ActionLink("Play", "PlayRaw", new { rawMoves = Model.EditGame.RawMoves });
        }
        else
        {
            @Html.ActionLink("Play", "PlaySelected", new { gameName = Model.SelectGame.SelectGameName });
        }
    </li>
    <li>
        @Html.ActionLink("Edit", "Edit", new { gameName = Model.SelectGame.SelectGameName }) 
    </li>
    <li>
        @Html.ActionLink("Select", "Select")
    </li>
</ul>
