@using ChessViewer.UI.Models
@model PlayGameModel

<script src="~/Scripts/Local/ShowGame.js"></script>

<script type="text/javascript">
    $(function () {
        let moves = @Html.Raw(Json.Encode(Model.Moves));
        doShowGame(moves);
    });

</script>

<input id="btn-play" type="button" class="btn btn-xs btn-outline-secondary" value="Play" />
<br />
<input id="btn-stop" type="button" class="btn btn-xs btn-outline-secondary" value="Stop" />
<br />
<input id="btn-step-forward" type="button" class="btn btn-xs btn-outline-secondary" value="Step forward" />
<br />
<input id="btn-step-backward" type="button" class="btn btn-xs btn-outline-secondary" value="Step backward" />

<br />
<br />

<div>
    <img src="~/Content/Images/BKing.png" />
</div>

@Html.ActionLink("Return to game selection", "Select", new { selectedName = Model.GameName }, new { @class = "btn btn-link" })
